body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

/* navbar css starts here  */
.bg-light{
    background-color: #2e0707!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #0cd452!important;
}

.nav-link{
    color: #f01111!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f1;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(204, 0, 0)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(15, 238, 149)!important;
}